<h1> Visualizing Tornadoes With matplotlib </h1>

<p>
  <a href="https://github.com/joannecheng/tornadoes">Source</a>
</p>

<p>
  I've been using matplotlib to quickly generate images in various formats to
  share visualizations with others. Getting up and running in matplotlib is
  much quicker than creating a custom visualization page in JavaScript with
  D3.js.
  <a href="http://matplotlib.org/">matplotlib</a> is popular python visualization
  library that can do everything from simple bar charts to
  <a href="http://seaborn.pydata.org/">gorgeous multidimensional
    graphs</a>.
</p>

<p>
Geographic visualizations can be generated quickly in matplotlib thanks to
<a href="http://matplotlib.org/basemap/">Basemap</a>, a library to help turn
geographic data into beautiful matplotlib visualizations. I'm going to be
walking through a basic example to visualize tornadoes in matplotlib.
</p>


<h3>Getting the data</h3>

<h3>Drawing our first map</h3>

<h3>Plotting our points</h3>

<h3>Styling</h3>

<h3>Extra credit!</h3>
