/*
 *= require main
 *= require title_page
 *= require _projects
 */
@charset "utf-8";

.description {
  display: inline-block;
  text-align: left;
  float: left;
  margin: 0;
  padding: 0;
  width: 48%;
}

