/*
 *= require main
 *= require title_page
 */
@charset "utf-8";

body {
  font-family: sans-serif;
}


.description {
  display: inline-block;
  text-align: left;
  float: left;
  margin: 0;
  padding: 0;
  width: 48%;
}

