<!doctype html>
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible" }
    %title
      = current_page.data.title

    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"

    %link{ href: 'http://fonts.googleapis.com/css?family=Lato:300', rel: 'stylesheet', type: 'text/css' }
  %body{ class: page_classes }
    %header.centered-navigation{ role: "banner" }
      .centered-navigation-wrapper
        %nav{ role: "navigation" }
          %ul.centered-navigation-menu.show
            %li.nav-link <a href="/projects.html">projects</a>
            %li.nav-link <a href="/experiments">experiements</a>
            %li.nav-link <a href="/talks.html">talks + press</a>
            %li.nav-link <a href="/about.html">about</a>

    .columns
      .content
        = yield
