:markdown
  # RTD Map

  A simple experiment in [Tilemill](https://www.mapbox.com/tilemill/). Red indicates rail, blue indicates bus line. Black/gray are roads in Denver, so you can see how far RTD reaches outside Denver.

%img{src: "https://dl.dropboxusercontent.com/u/2372981/rtd-bus-rail-routes.png", width: "60%"}
