:markdown
  ## Scrolling Map ##

.map-body{style: 'width: 100%; height: 1200px;' }

  #g-map-container
    #g-map-raster

= javascript_include_tag 'experiments/scrolling_map/main'
= stylesheet_link_tag 'experiments/scrolling_map/main'
