:markdown
  # The thoughtbot 2014 report

%img{src: "http://images.thoughtbot.com/eoy-report/report2014.png", width: 800}

:markdown
  A look at our year.

  [thoughtbot 2014 report](http://2014.thoughtbot.com)
