:markdown
  # The thoughtbot 2014 report

%img{src: "http://images.thoughtbot.com/eoy-report/report2014.png", width: 800}

:markdown
  A look at our year.

  [thoughtbot 2014 report](http://2014.thoughtbot.com)

%hr

:markdown
  Every year, my company does an end-of-year "hackathon", where we have two days to work on whatever we'd like in the company.
  The only rules are that we need to work in a team and we need to have something presentable at the end of the two days.

  Last year, I created a fun internal "report" with another designer in the Denver office based off of Nicholas Felton's awesome [Feltron Reports](http://feltron.com/). We counted the number of profanities mentioned in our chatroom and successfully found some strange habits of our coworkers.
  This year, I wanted to make something presentable to the whole company that would involve as many people as possible. Gabe and Joel, two developers from the Boston office, and I collected as much information as we could that would sum up our year, and Rachel Cope, a designer in the Denver office, put together the overall design.

  After we collected the data, we used C3 for all of our charts. I was on client work for some of this process, but I loved seeing my coworker's thought process on how to best display the information they collected.

  I'm really proud of the [Blog Authors](https://dribbble.com/shots/1879349-Visualizing-Blog-Posts?list=users&offset=27) visualization, which I designed based on Joel and Gabe's discussions in the chatroom on how to display an author's "significance" (based on number of views) and the number of blog posts they wrote. I liked this view because it made it easy to see what the most influential blog posts were of 2014, and I like how one can see an author's popularity easily.

  I also created the conference attendance map animation. It's really flashy, but it was satisfying to make.

  ![Nothing useful here](https://dl.dropboxusercontent.com/u/2372981/map.gif)
