:markdown
  * [quilball: Playing with quil](https://github.com/joannecheng/quilball) _clojure_
  * [Pulitzer Prize and Newspaper Subscriptions](/experiments/pulitzer_newspapers) _d3.js_
  * [Bechdel Test](/experiments/bechdel_test) _d3.js_
  * [Baseball: Standing vs. Payroll](/experiments/baseball) _d3.js_
  * [Chicago: Population Density](http://joannecheng.me/chicago_density/) _d3.js_
  * [Rails Timeline](http://joannecheng.me/visualizing_rails_history) _d3.js_
