:markdown
  This is a collection of small projects where I try something new or replicate
  something I like with a new technology.

  * [RTD Map](/experiments/rtd_map)
  * [Bechdel Test](/experiments/bechdel_test) _d3.js_
  * [Baseball: Standing vs. Payroll](/experiments/baseball) _d3.js_
  * [Chicago: Population Density](http://joannecheng.me/chicago_density/) _d3.js_
  * [Rails Timeline](http://joannecheng.me/visualizing_rails_history) _d3.js_
