:markdown
  * [Baseball: Standing vs. Payroll](/experiments/baseball) _d3.js_
  * [Chicago: Population Density](http://joannecheng.me/chicago_density/) _d3.js_
  * [Rails Timeline](http://joannecheng.me/visualizing_rails_history) _d3.js_
