= javascript_include_tag 'experiments/bechdel_test/main'
:css
  .graph-label {
    font-size: 11px;
  }
  .bar-data {
    stroke: white;
  }
  .result0 {
    fill: red;
  }
  .result1 {
    fill: rgb(255, 125, 106);
  }
  .result2 {
    fill: rgb(255, 188, 176);
  }
  .result3 {
    fill: rgb(0, 121, 206);
  }
  .axis {
    stroke: black;
  }

.text-content
  :markdown
    In which I try to replicate a graph in a great article on
    [FiveThirtyEight](http://fivethirtyeight.com/features/the-dollar-and-cents-case-against-hollywoods-exclusion-of-women/)
    by [Walt Hickey](http://fivethirtyeight.com/contributors/walt-hickey/).

    _Source:_ [Bechdel Test](http://bechdeltest.com/?list=all) [Parsed Data](https://github.com/joannecheng/bechdel_test_data/blob/master/movies.csv)

    [Additional code used for data collection](https://github.com/joannecheng/bechdel_test_data)

