:markdown
  Last time, we analyzed inpatient medical costs using R.

= ::CodeRay.scan('rails new visualizing_health_care', :sh).div

:markdown

  At this point, I made a few personal configurations for my app.

  * Set postgresql as the database
  * Removed the test folder and set rspec-rails as the testing framework.
  * Added haml and factory_girl_rails to the Gemfile

  I wanted to create an API that would return list of payment information by treatment id, which was the number prefixing the name of the treatment in the first 'DRG Definition' column. I wrote an integration test for this idea.

:ruby 
  code = "
  require 'spec_helper'
  describe 'Payments API' do
    it 'sends a list of payments given a drg id' do
      drg = FactoryGirl.create(:drg)
      provider = FactoryGirl.create(:provider)
      FactoryGirl.create(:payment, drg_id: drg.id, provider_id: provider.id)
      get '/drgs/39/payments.json'

      expect(response).to be_success
      json = JSON.parse response.body
      expect(json['items'].length).to eq 1
      expect(json['drg_definition']).to eq 'EXTRACRANIAL PROCEDURES W/O CC/MCC'
    end
  end"
= ::CodeRay.scan(code, :ruby).div
