:markdown
  # Dotfiles Analysis

  ![](../images/dotfiles1.png)
  ![](../images/dotfiles2.png)

  I went through all repositories in GitHub at collected language breakdown
  information on any repository with the name "dot" and "file" or "emacs.d"
  in it. This is the language breakdown of all repository data until mid 2012.

  __[Source Code](https://github.com/joannecheng/dfiles_analysis)__.
  Please read README for a more indepth description of the
  data collection/analyzing process.
