:markdown
  I'm currently a web developer for [thoughtbot, inc](http://www.thoughtbot.com)
  in Denver, CO. I work primarily on Ruby on Rails applications (Ruby, CoffeeScript/JavaScript).

  In my spare time and on investment days, I work on open source projects and 
  visualizations that benefit the Colorado community. I run the
  [Colorado Code for Communities](http://codeforcommunities.org/) hack nights 
  and meetups. For those projects, I work primarily with Python and JavaScript.

  I think a lot about:

    * TDD (and other good practices)
    * Well organized Rails applications
    * Open data
    * Data visualization and wrangling
    * Creative coding, particularly with data visualizations and musical hacks

  [twitter](http://www.twitter.com/joannecheng) [github](http://www.github.com/joannecheng)
