%p
  I'm currently a web developer for <a href="http://www.thoughtbot.com">thoughtbot</a>
  in Denver, CO. I work primarily on Ruby on Rails applications (Ruby,
  CoffeeScript/JavaScript) and data visualizations (CoffeeScript/JavaScript, d3.js). 
  Outside of work and web development, I enjoy experimenting with visualizations and creative programs.

%ul.skills-list
  I think a lot about:

  %li Best practices in software and web development
  %li Data wrangling, storytelling, and visualization
  %li Creative software projects


%p I graduated with a degree from Mason Gross School of the Arts at Rutgers Univeristy in 2009.

%p
  For questions or comments, please email me at joanne at thoughtbot.com.
  I'm available for work through my company, <a href="http://thoughtbot.com">thoughtbot</a>.

%a{href: "http://www.twitter.com/joannecheng"} twitter
%a{href: "http://www.github.com/joannecheng"} github
