:markdown
  I'm currently a web developer for [thoughtbot, inc](http://www.thoughtbot.com)
  in Denver, CO. I work primarily on Ruby on Rails applications (Ruby, CoffeeScript/JavaScript) and data visualizations (CoffeeScript/JavaScript, d3.js).

  In my spare time and on investment days, I work on open source projects and 
  visualizations that benefit the Colorado community. I run the
  [Colorado Code for Communities](http://codeforcommunities.org/) hack nights 
  and meetups. For those projects, I write primarily Python and JavaScript.

  I think a lot about:

    * Best practices in software and web development
    * Data wrangling, storytelling, and visualization
    * Creative software projects

  Email me at chengjoanne2 at gmail.
  [twitter](http://www.twitter.com/joannecheng) [github](http://www.github.com/joannecheng)
