:markdown
  # Bike Route Comparison

  I noticed a lack of bike routes when I visited Toronto in 2012. This was unusual for me,
  since I was living in Boulder at the time, where it's easy to find a safe, bikeable route between two points.
  I saw many bikes on the road, regardless of any safe bike routes - weaving through traffic, avoiding large trolley's that seemed to ignore their existance, and zipping past pedestrians

  http://joannecheng.me/bike-routes/
