:markdown
  A simple visualization I did in Processing for an Intro to Data Visualization class I
  ran for [Women Who Code Boulder Denver](http://www.meetup.com/Women-Who-Code-Boulder-Denver/).
  I asked students to fill out a simple survey before the course started so we would have a set of
  data to visualize. One of the questions was "What do you put in your coffee?". They could answer
  with 'Milk', 'Sugar', both, or neither. I wrote up a small example Processing app so they could
  see how I extracted the data using the ```Table``` class in Processing, but I liked how it
  turned out, so that's why it's on my site. :)


= image_tag 'coffeevis.png'



