:markdown
  The Denver department of Streets and Sidewalks releases their street closures data by [releasing a PDF](http://www.denvergov.org/StreetsandSidewalks/StreetMaintenanceandImprovement/WeeklyRoadLaneClosures/tabid/440698/Default.aspx) every two
  weeks. They write on their website:

  "If looking for a particular street, hit Ctrl + F to find it within the document. It is important to note that all information on the update is subject to change based on weather conditions."

  Not exactly handy for finding street closures in your neighborhood or on your commute.

  I set out to create an API that would take each street closure in the bi-weekly PDF and turn it into a geographical object. The
  goal was to have a queryable collection of street closures that could be easily integrated into any application.

  I worked on a scraperwiki prototype with [Jason Lally](https://twitter.com/synchronouscity),
  former Code for Communities brigade captain and Place Matters director. After wrangling with the PDFs for a night, we decided to throw each location string into the Google Geocoding API.
  Throwing the location string to Google gave us *some* useful information and was a huge improvement from a PDF, but there was
  many inaccuracies.
  We noticed that most of the street locations were in the some form similar to "First street: From Second street to Third Street." Unfortunately, the location naming scheme was inconsistent. I got into long conversations with other tech professionals, trying to 
  think of ways to solve this problem, from using robust Python NLP libraries to defining my own grammar. Eventually I settled on
  a few regexes to find the exact intersections of the street construction, throwing the location string to Google when that failed.

  I kept the scraperwiki scraper and set it to run every two weeks. I wrote the API part of the project with Flask, without having
  any experience creating a Flask application and not being a very good Python developer. I chose Python because of its great support
  for PostGIS (which I use to store and query locations of the closures) and because of its great NLTK library, which I ended up
  not using. I approached programming in Python by learning the syntax and tackling it like I would a Ruby web project.

  This project is one of favorite open source projects to work on because of its challenging yet practical nature. There's still
    much work to be done on it, but I'm hoping eventually other local geo-applications will find this API useful.

  The beta(alpha) of the closures API is [here](http://denverstreetconstruction.plastic-cities.com/closures).
