.image
.text
  %p
    I'm currently a web developer in Denver, CO for <a href="http://www.keen.io">Keen IO</a>. I spend most of my days writing front-end JavaScript and thinking about effective user experience on top of Keen's analytics service.

    In my past life, I was a web consultant at
    <a href="https://thoughtbot.com"> thoughtbot</a>, focusing on Ruby on
    Rails, JavaScript, proper test driven development, and design patterns.

    Outside of work, I spend a lot of time thinking about data visualization and
    analysis using D3.js and IPython notebook. I also enjoy experimenting with
    creative programs, combining art and technology together.

  %ul.skills-list
    I think a lot about:

    %li Best practices in software and web development
    %li Data wrangling, storytelling, and visualization
    %li Creative software projects

  %p
    For questions or comments, please email me at chengjoanne2 at gmail.com
