:markdown
  This is a visualization of all of the buses running in Philadelphia done with Processing.
  This was mostly inspired by Eric Fischer's visualizations of San Francisco's Muni system. 

  I toyed around with several versions of this visualization. Here are some of my favorite
  results.
%hr

Bus paths after 12 hours.
%br
= image_tag 'line-buses.png', width: '75%', height: '75%'
%br
Time Lapse of above image.
%br
<iframe src="http://player.vimeo.com/video/65864085" width="500" height="381" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/65864085">SEPTA Visualization (with lines)</a> from <a href="http://vimeo.com/user12294145">j c</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
