.project-list
  .project
    .project-title 
      %a{href: 'http://joannecheng.me/colorado_firemap'} Boulder Wildfires
    .project-img
      = image_tag 'boulder_wildfires.jpg'
  .project
    .project-title Denver Street Closures API
    .project-img
  .project
    .project-title Music Grid
    .project-img
      = image_tag 'musicgrid.png'
