.project-list
  .project
    .project-title
      %a{href: 'http://joannecheng.me/github_pushes'} Github Push Events
    .project-title 
      %a{href: 'philadelphia.html'} Philadelphia Bus Visualization
    .project-img
      = image_tag 'philadelphia.png'
  .project
    .project-title
      %a{href: 'http://joannecheng.me/colorado_firemap'} Boulder Wildfires
    .project-img
      = image_tag 'boulder_wildfires.jpg'
  .project
    .project-title
      %a{href: 'denver_street_closures.html'} Denver Street Closures API
    .project-img
      = image_tag "denver_street_construction.png"
  .project
    .project-title Music Grid
    .project-img
      = image_tag 'musicgrid.png'
