:markdown
  ## Talks
  * Creativity with Ruby-Processing/Painting with Ruby (eurucamp, Aug 2013; Wicked Good Ruby Oct 2013)
  *  Building a Community with SMS Applications (Boulder Ruby, Dec 2012)

  ## Press
  * [Get Out and Vote: Apps Helping You Get to the Polls](http://www.twilio.com/blog/2012/11/get-out-and-vote-apps-helping-you-get-to-the-polls.html)
  * [Technically Philly Exit Interview](http://technical.ly/philly/2011/07/19/joanne-cheng-exit-interview-i-wasnt-satisfied-with-the-direction-the-city-was-heading/)
