:markdown
  ## Talks
  * Creativity with Ruby-Processing/Painting with Ruby (_eurucamp_, Aug 2013; _Wicked Good Ruby_, Oct 2013) [[notes](https://gist.github.com/joannecheng/6255482)] [[video](https://www.youtube.com/watch?v=Rnw9WNSph5k)]
  * Building a Community with SMS Applications (_Boulder Ruby_, Dec 2012)

  ## Press
  * [Analyzing Minard's Visualization Of Napoleon's 1812 March](http://robots.thoughtbot.com/analyzing-minards-visualization-of-napoleons-1812-march) /
  [What One Of History's Greatest Visualizations Could Teach Us About Designing Interfaces Today](http://www.fastcodesign.com/3031649/what-one-of-historys-greatest-visualizations-reveals-about-todays-interface-design) (June 2014)
  * [Five Amazing Women Developers in Colorado](http://www.builtincolorado.com/blog/amazing-women-developers-colorado) (_Built in Colorado_ May 2014)
  * [Analyzing GitHub Trends](http://robots.thoughtbot.com/analyzing-github-trends/) (_Giant Robots_ Oct 2013)
  * [Get Out and Vote: Apps Helping You Get to the Polls](http://www.twilio.com/blog/2012/11/get-out-and-vote-apps-helping-you-get-to-the-polls.html) (_Twilio Blog_ Nov 2012)
  * [Technically Philly Exit Interview](http://technical.ly/philly/2011/07/19/joanne-cheng-exit-interview-i-wasnt-satisfied-with-the-direction-the-city-was-heading/) (_Technically Philly_ May 2011)
