:markdown
  ## Talks
  * Creativity with Ruby-Processing/Painting with Ruby (eurucamp, Aug 2013; Wicked Good Ruby Oct 2013) [[notes](https://gist.github.com/joannecheng/6255482)] [[video](https://www.youtube.com/watch?v=Rnw9WNSph5k)]
  * Building a Community with SMS Applications (Boulder Ruby, Dec 2012)

  ## Press
  * [Analyzing GitHub Trends](http://robots.thoughtbot.com/analyzing-github-trends/) (_Giant Robots_ Oct 2013)
  * [Get Out and Vote: Apps Helping You Get to the Polls](http://www.twilio.com/blog/2012/11/get-out-and-vote-apps-helping-you-get-to-the-polls.html) (_Twilio Blog_ Nov 2012)
  * [Technically Philly Exit Interview](http://technical.ly/philly/2011/07/19/joanne-cheng-exit-interview-i-wasnt-satisfied-with-the-direction-the-city-was-heading/) (_Technically Philly_ May 2011)
